body {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.calculator-container {
  background-color: aliceblue;
  padding: 10px;
}

.display {
  background-color: white;
  margin: 5px auto;
  text-align: right;
  padding: 10px 10px;
}


.buttons button {
  margin: 1px;
  width: 55px;
  height: 40px;
  border-radius: 5px;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

#n0 {
  flex: 1;
}